<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- https://spring.io/guides/gs/handling-form-submission/ -->
    <title>Ticket Creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Ticket</h1>

    <form action="#" th:action="@{/ticket_creation}" th:object="${ticket}" method="post">
        <p>Title : <input type="text" th:field="*{title}" /></p>
        <p>Description : <input type="text" th:field="*{description}" /></p>
        <p>Category : <input type="text" th:field="*{category}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>